@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./Images/Background.png);
    background-size: cover;
    font-family: "DynaPuff", serif;
    color: white;
    height: 100%;
    animation: fade-in 1s;
    cursor: default;
}
.game {
    margin-top: 8vh;
}
.point-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.point-bar {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.red-bar {
    border-radius: 0px 50px 50px 0px;
    flex-direction: row;
}
.blue-bar {
    border-radius: 50px 0px 0px 50px;
    flex-direction: row-reverse;
}
.point {
    border-radius:50px;
    width: 6vh;
    height: 6vh;
    background-color: #a1a1a1;
}
.hand-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 58vh;
}
.hand {
    width: 40%;
    background-position: center 45vw;
}
.timer {
    width: 20%;
    text-align: center;
    margin: auto;
    font-family: "Poppins", serif;
    font-size: 13vh;
}
.choice-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}
.empty {
    width: 50%;
}
.choice-bar {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choice {
    cursor: pointer;
    width: 12vh;
    height: 12vh;
    background-color: #a1a1a1;
    border-radius: 50px;
    border: 0.3vh solid white;
    transform: rotate(90deg);
    box-shadow: 0px 0px 5px rgb(255, 234, 180);
}
.choice:active {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.choice-1 {
    background-image: url(./Images/Stone.png);
    background-size: cover;
    background-position: 0px -0.6vh;
}
.choice-2 {
    background-image: url(./Images/Paper.png);
    background-size: cover;
    background-position: 0px -0.6vh;
}
.choice-3 {
    background-image: url(./Images/Scissors.png);
    background-size: cover;
    background-position: 0px -0.6vh;
}
#gameover{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    top: 25vh;
    left: 18vw;
}
#result{
    font-size: 50px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.home{
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    background: linear-gradient(to left, rgb(255, 203, 59) 0%,rgb(255, 120, 1) 50%, rgb(255, 203, 59) 100%);
    box-shadow: 0 4px 15px 0 rgba(196, 135, 49, 0.75);
    border-style: none;
    border-radius: 40px;
    width: 15vw;
    height: 10vh;

    background-size: 200% auto;
    transition: 0.5s;
    >a{
        color: white;
        text-decoration: none;
    }
}
.home:hover{
    background-position: right center;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 0px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 2vh;
}
@keyframes slide-in {
    0% {
        background-position: 45vw;
    }
    40% {
        background-position: 0px;
    }
    90% {
        background-position: 0px;
    }
    100% {
        background-position: 45vw;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 480px) {
    body{
        background-image: url(./Images/Mobile.png);
        background-size: 130%;
        background-position: -10vw 0px;
    }
    .game{
        margin: 0px;
        padding-top: 5vh;
        height: 100vh;
    }
    .point-bar{
        width: 45%;
        height: 4.5vh;
    }
    .point{
        height: 2.5vh;
        width: 2.5vh;
    }
    .hand-timer{
        flex-direction: column;
    }
    .hand{
        width: 100%;
        height: 40vh;
    }
    .timer{
        font-size: 3vh;
        height: 5%;
        margin: 0px;
        width: 100%;
    }
    .empty{
        display: none;
    }
    .choice-bar{
        width: 100%;
    }
    .choice{
        border-radius: 100px;
        box-shadow: 0px 0px 10px rgb(255, 234, 180);
    }

    #gameover{
        width: 80%;
        top: 20vh;
        left: 5vw;
    }
    #result{
        font-size: 60px;
    }
    .home{
        width: 70vw;
        height: 8vh;
    }
    .footer{
        font-size: 1.5vh;
    }
}